.vscode
SDL2.dll
a2sdl.exe
frontend/a2sdl/a2sdl
frontend/a2sdl/*.woz
frontend/a2sdl/*.dsk
frontend/a2fyne/a2fyne
frontend/headless/headless
frontend/*/snapshot.gif
frontend/*/snapshot.png
frontend/*/printer.out
.DS_Store
resources/Apple2four.dasm.lst
resources/Apple2four.rom.orig
frontend/a2fyne/run.out
frontend/a2fyne/run.out
2four/ABC.txt
2four/DEFG.txt
2four/Logo.txt
2four/OS4/HELP.txt
2four/SCROLLS.txt
2four/Test.txt
2four/Z.txt
frontend/a2sdl/run.out
AppleIIfour/root/hi moni.LO_
AppleIIfour/root/GRAPHICS/hi moni.LO_
AppleIIfour/root/GRAPHICS/dither.HI_
AppleIIfour/root/GRAPHICS/xyz.LO_
AppleIIfour/root/TEXT/ABC.txt
AppleIIfour/root/TEXT/AZ09.txt
AppleIIfour/root/TEXT/SCROLLS.txt
Apple2four/src/Apple2four.lst
Apple2four/src/run/LO_EDIT.lst
Apple2four/root/TEST.abc
