.vscode
SDL2.dll
a2sdl.exe
frontend/a2sdl/a2sdl
frontend/a2sdl/*.woz
frontend/a2sdl/*.dsk
frontend/a2fyne/a2fyne
frontend/headless/headless
frontend/*/snapshot.gif
frontend/*/snapshot.png
frontend/*/printer.out
.DS_Store
resources/Apple2four.dasm.lst
resources/Apple2four.rom.orig
frontend/a2fyne/run.out
frontend/a2fyne/run.out
2four/ABC.txt
2four/DEFG.txt
2four/Logo.txt
2four/OS4/HELP.txt
2four/SCROLLS.txt
2four/Test.txt
2four/Z.txt
frontend/a2sdl/run.out
AppleIIfour/root/hi moni.LO_
AppleIIfour/root/GRAPHICS/hi moni.LO_
AppleIIfour/root/GRAPHICS/dither.HI_
AppleIIfour/root/GRAPHICS/xyz.LO_
AppleIIfour/root/TEXT/ABC.txt
AppleIIfour/root/TEXT/AZ09.txt
AppleIIfour/root/TEXT/SCROLLS.txt
Apple2four/src/Apple2four.lst
Apple2four/src/run/LO_EDIT.lst
Apple2four/root/TEST.abc
Apple2four/root/b.bin
Apple2four/root/AZ09.bin
Apple2four/src/run/BIN-EDIT.lst
frontend/gr_convert/out.png
frontend/gr_convert/out/color/Atkinson.png
frontend/gr_convert/queen.png
frontend/gr_convert/out/treshold.png
frontend/gr_convert/queen_dithered.png
frontend/gr_convert/steves.png
frontend/gr_convert/steves_dithered.png
frontend/gr_convert/California_dithered.png
frontend/gr_convert/California.png
frontend/gr_convert/AppleII_dithered.png
frontend/gr_convert/AppleII4_dithered.png
frontend/gr_convert/AppleII4.png
frontend/gr_convert/AppleII.png
frontend/gr_convert/AppleII.jpg
frontend/gr_convert/Apple.png
Apple2four/src/run/LO_-EDIT.lst
Apple2four/src/run/GR_-EDIT.lst
Apple2four/src/run/BIN-EDIT.lst
Apple2four/src/run/LO_-EDIT.lst
Apple2four/src/run/BIN-EDIT.lst
Apple2four/src/run/LO_-EDIT.lst
Apple2four/Apple Computer Logo.svg
Apple2four/Inside the Apple ii4 (cover 1).ai
