.vscode
SDL2.dll
a2sdl.exe
frontend/a2sdl/a2sdl
frontend/a2sdl/*.woz
frontend/a2sdl/*.dsk
frontend/a2fyne/a2fyne
frontend/headless/headless
frontend/*/snapshot.gif
frontend/*/snapshot.png
frontend/*/printer.out
.DS_Store
resources/Apple2four.dasm.lst
resources/Apple2four.rom.orig
frontend/a2fyne/run.out
frontend/a2fyne/run.out
2four/ABC.txt
2four/DEFG.txt
2four/Logo.txt
2four/OS4/HELP.txt
2four/SCROLLS.txt
2four/Test.txt
2four/Z.txt
frontend/a2sdl/run.out
AppleIIfour/root/hi moni.LO_
AppleIIfour/root/GRAPHICS/hi moni.LO_
AppleIIfour/root/GRAPHICS/dither.HI_
AppleIIfour/root/GRAPHICS/xyz.LO_
AppleIIfour/root/TEXT/ABC.txt
AppleIIfour/root/TEXT/AZ09.txt
AppleIIfour/root/TEXT/SCROLLS.txt
Apple2four/src/Apple2four.lst
Apple2four/src/run/LO_EDIT.lst
Apple2four/root/TEST.abc
Apple2four/root/b.bin
Apple2four/root/AZ09.bin
Apple2four/src/run/BIN-EDIT.lst
frontend/gr_convert/out.png
frontend/gr_convert/out/color/Atkinson.png
frontend/gr_convert/queen.png
frontend/gr_convert/out/treshold.png
frontend/gr_convert/queen_dithered.png
frontend/gr_convert/steves.png
frontend/gr_convert/steves_dithered.png
frontend/gr_convert/California_dithered.png
frontend/gr_convert/California.png
frontend/gr_convert/AppleII_dithered.png
frontend/gr_convert/AppleII4_dithered.png
frontend/gr_convert/AppleII4.png
frontend/gr_convert/AppleII.png
frontend/gr_convert/AppleII.jpg
frontend/gr_convert/Apple.png
Apple2four/src/run/LO_-EDIT.lst
Apple2four/src/run/GR_-EDIT.lst
Apple2four/src/run/BIN-EDIT.lst
Apple2four/src/run/LO_-EDIT.lst
Apple2four/src/run/BIN-EDIT.lst
Apple2four/src/run/LO_-EDIT.lst
Apple2four/Apple Computer Logo.svg
Apple2four/Inside the Apple ii4 (cover 1).ai
Apple2four/Apple II Lanuage Card (manual).pdf
Apple2four/Apple II Monitors Peeled.pdf
Apple2four/src/run/BIN EDIT.lst
Apple2four/src/run/GR_ EDIT.lst
Apple2four/src/run/LO_ EDIT.lst
Apple2four/root/FONTS/Mac/Athens_22.dfont
Apple2four/root/FONTS/Mac/Boston_15.dfont
Apple2four/root/FONTS/Mac/Boston_20.dfont
Apple2four/root/FONTS/Mac/Boston_24.dfont
Apple2four/root/FONTS/Mac/Boston_30.dfont
Apple2four/root/FONTS/Mac/Chicago_15.dfont
Apple2four/root/FONTS/Mac/Courier_10.dfont
Apple2four/root/FONTS/Mac/Courier_14.dfont
Apple2four/root/FONTS/Mac/Courier_17.dfont
Apple2four/root/FONTS/Mac/Courier_22.dfont
Apple2four/root/FONTS/Mac/Cream_12.dfont
Apple2four/root/FONTS/Mac/Cream_14.dfont
Apple2four/root/FONTS/Mac/Gacha_12.dfont
Apple2four/root/FONTS/Mac/Geneva_15.dfont
Apple2four/root/FONTS/Mac/Geneva_18.dfont
Apple2four/root/FONTS/Mac/Geneva_22.dfont
Apple2four/root/FONTS/Mac/Geneva_24(1).dfont
Apple2four/root/FONTS/Mac/Geneva_24.dfont
Apple2four/root/FONTS/Mac/Geneva_28.dfont
Apple2four/root/FONTS/Mac/Helvetica_12.dfont
Apple2four/root/FONTS/Mac/Helvetica_14(1).dfont
Apple2four/root/FONTS/Mac/Helvetica_14.dfont
Apple2four/root/FONTS/Mac/Helvetica_16.dfont
Apple2four/root/FONTS/Mac/Helvetica_20.dfont
Apple2four/root/FONTS/Mac/London_20.dfont
Apple2four/root/FONTS/Mac/LosAngeles_14.dfont
Apple2four/root/FONTS/Mac/LosAngeles_28.dfont
Apple2four/root/FONTS/Mac/Mobile_28.dfont
Apple2four/root/FONTS/Mac/Monaco_11.dfont
Apple2four/root/FONTS/Mac/Monaco_15.dfont
Apple2four/root/FONTS/Mac/NewYork_12.dfont
Apple2four/root/FONTS/Mac/NewYork_15.dfont
Apple2four/root/FONTS/Mac/NewYork_17(1).dfont
Apple2four/root/FONTS/Mac/NewYork_17.dfont
Apple2four/root/FONTS/Mac/NewYork_21.dfont
Apple2four/root/FONTS/Mac/NewYork_22.dfont
Apple2four/root/FONTS/Mac/NewYork_26.dfont
Apple2four/root/FONTS/Mac/Palatino_12.dfont
Apple2four/root/FONTS/Mac/Palatino_16.dfont
Apple2four/root/FONTS/Mac/Palatino_25.dfont
Apple2four/root/FONTS/Mac/PingPong_19.dfont
Apple2four/root/FONTS/Mac/Reptile_16.dfont
Apple2four/root/FONTS/Mac/SwanSong_15.dfont
Apple2four/root/FONTS/Mac/Symbol_11.dfont
Apple2four/root/FONTS/Mac/Symbol_15.dfont
Apple2four/root/FONTS/Mac/Symbol_17.dfont
Apple2four/root/FONTS/Mac/System_16.dfont
Apple2four/root/FONTS/Mac/Times_10.dfont
Apple2four/root/FONTS/Mac/Times_12.dfont
Apple2four/root/FONTS/Mac/Times_15.dfont
Apple2four/root/FONTS/Mac/Times_18.dfont
Apple2four/root/FONTS/Mac/Times_24.dfont
Apple2four/root/FONTS/Mac/Toronto_12.dfont
Apple2four/root/FONTS/Mac/Toronto_15.dfont
Apple2four/root/FONTS/Mac/Toronto_17.dfont
Apple2four/root/FONTS/Mac/Toronto_23.dfont
Apple2four/root/FONTS/Mac/Toronto_29.dfont
Apple2four/root/FONTS/Mac/Venice_19.dfont
